.listingItems {
    height: 1000px;
    width: 100vw;
    .container-fluid-x{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .Banner_123{
            height: 300px;
            width: 98%;
            margin: 0px 14px 0px 14px;
            border-radius: 20px;
            background-image: url('./img/listBanner_2.png');
            background-color: antiquewhite;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .b-x-1{
                width: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
                .b-x-1-1{
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    h2{
                        font-weight: 700;
                        font-size: 45px;
                        margin: 0px !important;
                        font-family: Quicksand,sans-serif;
                        margin-bottom: 40px;
                    }
                    .para{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        margin-top: 12px;
                    }
                    .emoj{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        p{
                            font-family: Quicksand,sans-serif;
                            font-weight: 600;
                            color: #253D4E;
                            .btnhm{
                                text-decoration: none;
                                list-style: none;
                                color: #3BB77E;
                            }
                            .btnhm:hover{
                                color: #fd7e14;
                                transition: color 0.3s ease-in-out;
                            }
                        }
                        .homeEmoj{
                            transform: scale(0.8);
                            margin-bottom: 3px;
                            color: #3BB77E;
                        }
                        .arrow{
                            transform: scale(0.4);
                        }
                    }
                }
            }
        }
        .b-x-2{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            .Boxes{
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .bbx-1{
                height: 40px;
                width: 140px;
                border-radius: 20px;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    list-style: none;
                    text-decoration: none;
                    color: rgb(53, 53, 53);
                    font-family: Quicksand,sans-serif;
                    font-weight: 600;
                }
            }
            }
        }
    }
    /* .container-items{
        margin-top: 40px;
        height: 1000px;
        width: 98%;
        display: flex;
        flex-direction: row;
        .item{
            background-color: #3BB77E;
            width: 80%;
            border: 2px solid green;
        }
        .cart{
            background-color: burlywood;
            border: 2px solid brown;
            width: 20%;
        }
    } */
     .ListingData{
        .hello{
            background-color: #3BB77E;
        }
     }
}