.headerWrapper{
    position: sticky !important;top:0px;left:0px;width: 100%;z-index: 99;background-color: white;
}
header{
    margin-top: 0px;
    height: 100px;
    .row{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        /* background-color: rgb(224, 156, 156); */
        /* justify-content: space-evenly; */
        align-items: center;
        .hb-1{
            width:15%;
            img{
                transform: scale(0.8);
            }
            /* background-color: rgb(142, 231, 216); */
        }
        .headersearch{
            width:45%;
            height: 65px;
            /* background-color: red; */
            display: flex;
            justify-content: center;
            align-items: center;
            .borderbox{
                /* background-color: coral; */
                border:2px solid #3bb77e;
                border-radius: 5px;
                height: 70%;
                width: 80%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .selectdrop{
                    height: 100%;
                    /* background-color: violet; */
                    padding:5px;
                    cursor:pointer;
                    width: 25%;
                    text-align: center;
                    position: relative;
                }
                .selectdrop:after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 30px;
                    background-color: rgba(0,0,0,0.5);
                    top:6px;
                    right: 0px;
                }
                .search{
                    text-align: center;
                    width: 75%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    position: relative;
                    input{
                        border: 0px;
                        outline: none !important;
                        background-color: transparent;
                        font-size: 18px;
                        height: 100%;
                        width: 90%;
                    }
                    .searchIcon{
                        position: absolute;
                        top: 7px;
                        right: 10px;
                        cursor: pointer;
                        opacity: 0.7;
                        /* width: 10%; */
                        /* background-color: red; */
                        /* display: flex;
                        justify-content: center;
                        align-items: center; */
                    }
                }
            }
        }
        .countryList{
            width:11%;
            height: 30px;
            margin-left: -60px;
            background-color: aliceblue;
            box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
            /* text-align: center; */
            display: flex;
            flex-direction: row;
            .locationIcon{
                transform: scale(0.7);
            }
        }
        .hb-3{
            width:29%;
            height: 50px;
            /* background-color: rgb(199, 249, 125); */
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            color: rgb(131, 177, 63);
            margin-left: 20px;
            img{
                transform: scale(0.8);
            }
            h5{
                margin-top: 5px;
            }
            .lg-2{
                width:25%;
                /* background-color: aqua; */
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                margin-left: -11px;
                .badge{
                    position: absolute;
                    top:3px;
                    left: 10px;
                    width:20px;
                    height: 20px;
                    color:#fff;
                    font-weight: 600;
                }
                h5{
                    display: flex;
                    height: 100%;
                    align-items: center;
                }
            }
            .lg-3{
                position: relative;
                width:25%;
                /* background-color: orange; */
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .badge{
                    position: absolute;
                    top:3px;
                    left: 20px;
                    width:20px;
                    height: 20px;
                    color:#fff;
                    font-weight: 600;
                }
            }
            .lg-4{
                position: relative;
                width:25%;
                /* background-color: violet; */
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .badge{
                    position: absolute;
                    top:3px;
                    left:35px;
                    width:20px;
                    height: 20px;
                    color:#fff;
                    font-weight: 600;
                }
            }
            .lg-5{
                position: relative;
                width:25%;
                /* background-color: cadetblue; */
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .badge{
                    position: absolute;
                    top:3px;
                    left: 15px;
                    width:20px;
                    height: 20px;
                    color:#fff;
                    font-weight: 600;
                }
                .dropDownMenu{
                    position: absolute;
                    top: 100%;
                    right:0px;
                    height:auto;
                    width:200px;
                    background-color: #fff;
                    padding: 0px !important;
                    box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
                    /* border: 2px solid brown; */
                    /* border-radius: 15px; */
                    li{
                        list-style: none;
                        Button{
                            margin-top: 5px;
                            border-radius: 5px;
                            /* background-color: rgb(202, 238, 130); */
                            width:100% !important;
                            text-align: left !important;
                            justify-content: flex-start !important;
                            font-weight: 300;
                            color:black;
                            text-transform: capitalize;
                            svg{
                                opacity: 0.7;
                                margin-right: 8px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}