.Nav {
    /* background-color: aqua; */
    width: 100%;
    height: 80px;
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Quicksand", serif;
    li{
        cursor: pointer;
    }
    .catTab{
        padding: 10px 20px !important;
        background-color: #29A56C;
        display: flex;
        justify-content: space-evenly;
        font-size: 14px;
        height: 45px;
        text-transform: capitalize;
        font-weight: 500;
        border-radius: 5px;
    }
    .content{
        margin: 0px;
        padding: 0px;
        /* background-color: violet; */
        height: 50px;
        li{
            font: inherit;
            list-style: none;
            font-style: quicksand;
            font-weight: 700;
            /* background-color: #29A56C; */
            color: grey !important;
            display: flex;
            align-items: center;
        }
    }
    .part-3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 50px;
        /* background-color: rgb(255, 242, 0); */
        .headset{
            width:30%;
            /* background-color: yellowgreen; */
        }
        .num{
            width:70%;
            display: flex;
            flex-direction: column;
            /* background-color: rgb(50, 117, 205); */
            align-items:center ;
            h4{
                font-weight: 700;
                color: #29A56C;
            }
            p{
                margin-top: -10px;
                font-size: 13px;
            }
        }
    }
    .home{
        position: relative;
    }
    .home,li:hover{
        color: #29A56C !important;
    }
    .drop{
        position: absolute;
        background-color: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        top: 90px;
        left:425px;
        height:auto;
        width:225px;
        z-index: 1;
        li{
            margin-top:3px;
            padding: 5px;
            color: rgb(37, 61, 78);
        }
    }
    .shopList{
        position: absolute;
        background-color: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        top: 90px;
        left: 610px;
        width: 250px;
        z-index: 1;
        li{
            margin-top: 4px;
            padding: 5px;
            /* padding-left: 0px; */
            font-size: 15px;
        }
    }
    .vendorList{
        position: absolute;
        background-color: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        top: 90px;
        left: 710px;
        width: 250px;
        z-index: 1;
        li{
            margin-top: 4px;
            padding: 5px;
            /* padding-left: 0px; */
            font-size: 15px;
        }
    }
    .blogList{
        position: absolute;
        background-color: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        top: 90px;
        left: 975px;
        width: 250px;
        z-index: 1;
        li{
            margin-top: 4px;
            padding: 5px;
            /* padding-left: 0px; */
            font-size: 15px;
        }
    }
    .pageList{
        position: absolute;
        background-color: white;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        top: 90px;
        left: 1065px;
        width: 250px;
        z-index: 1;
    }
    li{
        margin-top: 4px;
        padding: 5px;
        /* padding-left: 0px; */
        font-size: 15px;
    }
    .crax{
        position: absolute;
        background-color: white;
        /* color: white !important; */
        box-shadow: 0px 3px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        top: 95px;
        left: 0px;
        height:350px;
        width: 100%;
        display: flex;
        flex-direction: row;
        z-index: 1;
        h4{
            /* margin-left: 35px; */
            color: #29A56C;
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: 650;
            font-size: 20px;
            font-family: "Quicksand", serif;
        }
        h4:hover{
            color: goldenrod;
        }
        .box-1{
            width:25%;
        }
        .box-2{
            width:25%;
        }
        .box-3{
            width:20%;
        }
        .box-4{
            width: 425px; /* Set width */
            height: 300px;
            border-radius: 15px;
            margin-top: 20px;
            background-image: url('../../assets/img/banner-menu.png');
            background-size: cover; /* Adjust the size (e.g., cover, contain, auto) */
            background-repeat: no-repeat; /* Prevent tiling */
            background-position: center; 
            h5{
                margin-left: 30px;
                margin-top: 20px;
                color: rgb(41, 41, 41);
                font-weight: 400;
            }
            h3{
                margin-left: 30px;
                color: rgb(37, 61, 78);
                font-weight: 800;
            }
            p{
                margin-left: 30px;
                font-size: 25px;
                font-weight: 900;
                color: rgb(129, 177, 61);
            }
            .btn-xy{
                border-radius: 20px;
                margin-left: 35px;
                background-color: #29cd80;
                height: 38px;
                width: 110px;
                color: white;
                font-weight: 700;
                border: none;
            }
            .offer{
                border-radius: 75px;
                background-color: rgb(255,213,90);
                height: 80px;
                width: 80px;
                position: absolute;
                top: 60px;
                right: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .percent{
                    font-size: 25px;
                    font-weight: 700;
                    margin-top: 10px;
                }
                .off{
                    font-size: 20px;
                    font-weight: 550;
                    margin-top: -7px;
                }
            }
        }
        .box-4:hover{
            .btn-xy{
            background-color: rgb(253,110,110);
            }
        }
        }
}