.inventory_products {
    /* background-color: aqua; */
    position: relative;
    margin-top: 200px;
}

.inventory_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
        width: 25%;
        font-family: "Quicksand", serif;
        font-size: 32px;
        font-weight: 680;
    }

    .catList {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        align-items: center;

        li {
            font-family: "Quicksand", serif;
            font-size: 16px;
            font-weight: 600;
            transition: transform 0.3s ease, color 0.3s ease;
        }

        li:hover {
            transform: translateY(-0.5rem);
            color: rgb(59, 183, 126);
            cursor: pointer;
        }
    }
}

.container-fluid-x2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: -30px;
    .prop {
        font-family: "Quicksand", serif;
        margin-left: 15px;
    }
    .lef {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 15px;
        font-family: "Quicksand", serif;

        h5 {
            margin-left: 15px;
            font-size: 16px;
            transition: transform 0.3s ease-in-out;
        }
        h5:hover{
            color: #3BB77E;
            transform: translateY(-8px);
            cursor: pointer;
        }
    }
}

.container-fluid-x3 {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: antiquewhite; */
    .imgb_4 {
        width: 25%;
        position: relative;
        background-size: cover;
        background-image: url('../Card/img/banner-4.png');
        margin-left: 0px;
        height: 470px;
        width: 400px;
        border-radius: 13px;
        margin-left: 20px;
        margin-top: 10px !important;
        h1 {
            font-size: 40px;
            font-family: Quicksand, sherif;
            color: #253D4E;
            font-weight: 700;
            line-height: 1.2;
            position: absolute;
            height: 300px;
            width: 250px;
            top: 50px;
            left: 50px;
        }

        .btn {
            position: relative;
            font-family: Quicksand, sherif;
            top: 280px;
            left: 50px;
            background-color: #3BB77E;
            border: 1px solid transparent;
            color: #fff;
            transition: all 300ms linear 0s;
            letter-spacing: 0.5px;
            font-weight: 700;
        }
    }
    .Slider_2{
        width: 75%;
        height: 550px ;
        position: relative;
        .prev-2{
            position: absolute;
            height: 40px;
            width: 40px;
            top: 250px;
            left: 30px;
            border-radius: 100%;
            background-color: rgb(237, 237, 237);
            color: grey;
            border-style: none;
            z-index: 10;
        }
        .next-2{
            position: absolute;
            height: 40px;
            width: 40px;
            top: 250px;
            right: 30px;
            border-radius: 100%;
            background-color: rgb(237, 237, 237);
            color: grey;
            border-style: none;
            z-index: 10;
        }
        .cx-1{
            width: 25%;height: 550px;
        }
        .cx-2{
            width: 25%;height: 550px;
        }
        .cx-3{
            width: 25%;height: 550px;
        }
        .cx-4{
            width: 25%;height: 550px;
        }
    }
}
.brics{
    height: 450px;
    /* background-color: #d3eadf; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
    .bric-1{
        width: 24%;
        height: 400px;
        margin-left: 3px;
        background-color: #3BB77E;
        border-radius: 15px;
        position: relative;
        font-family: Quicksand,san-sherif;
        font-weight: 700;
        .br-12{
            position: absolute;
            height: 190px;
            width: 90%;
            border-radius: 15px;
            top: 200px;
            left: 20px;
            background-color: white;
        }
        h6{
            font-size: 15px;
            position: absolute;
            top: 40px;
            left: 40px;
            height: 50px;
            width: 70%;
            font-family: Quicksand,san-sherif;
            font-weight: 700;
            color:#253D4E;
            line-height: 1.2;
            /* border: 2px solid brown; */
        }
        .clr{
            color: #3BB77E;
            font-weight: 600;
            position: absolute;
            top: 100px;
            left: 40px;
        }
        .rating_brc{
            position: absolute;
            top: 80px;
            left: 20px;
            transform: scale(0.7);
        }
        .br-1{
            height: 100%;
            width: 100%;
            background-image: url('./img/banner-5.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 15px;
        }
        .br-2{
            height: 100%;
            width: 100%;
            background-image: url('./img/banner-6.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 15px;
        }
        .br-3{
            height: 100%;
            width: 100%;
            background-image: url('./img/banner-7.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 15px;
        }
        .br-4{
            height: 100%;
            width: 100%;
            background-image: url('./img/banner-8.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 15px;
        }

    }
}
.TopproductSection{
    .r-1{
        height: 500px;
        width: 25%;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 25px;
            font-weight: 700;
            color: #253D4E;
            font-family: Quicksand,sherif;
            margin-left: 20px !important;
        }
        .rbx-1{
            height: 170px;
            width: 100%;
            background-color: #fff;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                width: 30%;
                height: 110px;
                width: 110px;
                border-radius: 15px;
                margin-left: 10px;
            }
            .rating_tpd{
                transform: scale(0.7);
                margin-top: 0px;
            }
            h5{
                margin-left: 20px;
                font-family: Quicksand,sherif;
                font-weight: 800;
                color: #3BB77E;
            }
            a{
                font-size: 16px;
                cursor: pointer;
                display: block;
                margin-left: 20px;
                font-family: Quicksand,sherif;
                font-weight: 650;
                color: #152028;
                margin-bottom: 0px;
                text-decoration: none;
            }
        }

    }
    .rbx-1:hover{
        transform: translateY(-5px);
        transition: transform 0.2s ease-in-out;
    }
}